body {
  --primary-color: rgb(19, 19, 192);
  --darker: rgb(32, 32, 133);
  --border-color: #e8e8e8;
  margin: 0;
  overflow: hidden;
  font-family: Avenir;
  font-size: 14px;
}

.text-primary {
  color: var(--primary-color);
}

.z-upper input, .ax_right .product-grid > figure > div, .ax_right .rollout, .ax_right header, .ax_left .ax_options, .ax_left_container > *, .ax_left_container, .fancy-menu li:before, .fancy-menu {
  transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.z-upper, .ax_product_image, .ax_menu_area {
  transition: all 0.7s cubic-bezier(0.52, 0.63, 0.26, 1);
}

.ax_main > *:not(:last-child), .ax_header > *:not(:last-child) {
  border-right: solid 1px var(--border-color);
}

.ax_menu_area {
  transition-duration: 0.4s;
  height: calc(100vh - 10vmin);
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  width: 100vw;
  background-color: var(--darker);
  display: flex;
}
.ax_menu_area > section {
  flex: 1;
  padding: 10vmin 2vmin;
  border: solid 1px white;
}
.ax_menu_area.expand {
  pointer-events: all;
}
.ax_menu_area.expand, .ax_menu_area.expand .fancy-menu {
  opacity: 1;
}
.ax_menu_area.expand .fancy-menu {
  transform: translateX(0);
}

.fancy-menu {
  transform: translateX(-5%);
  opacity: 0;
  transition-delay: 0.4s;
}
.fancy-menu li {
  display: flex;
  font-size: 2rem;
  padding: 1rem 0;
  color: rgba(255, 255, 255, 0.75);
  align-items: center;
  cursor: pointer;
}
.fancy-menu li:before {
  display: block;
  content: "";
  width: 0;
  margin-right: 1rem;
  border-top: solid 1px white;
  position: relative;
}
.fancy-menu li:hover {
  color: white;
}
.fancy-menu li.active {
  color: white;
}
.fancy-menu li.active::before {
  width: 50px;
}

.ax_header {
  display: grid;
  position: relative;
  z-index: 6;
  background-color: white;
  grid-template-rows: 10vh;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: solid 1px var(--border-color);
}
.ax_header > *:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.ax_main {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ax_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ax_left_container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.ax_left_container > * {
  width: 60%;
  margin: 0;
  margin-bottom: 1rem;
}
.ax_left_container > *:not(img) {
  transition-duration: 0.1s;
}
.ax_left_container .heading {
  font-family: Didot;
  font-size: 2rem;
  opacity: 1;
}
.ax_left_container .paragraph {
  font-size: 1.1rem;
  opacity: 0.7;
}
.ax_left .ax_options {
  left: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(100%);
}
.ax_left .ax_options button {
  appearance: none;
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.102em;
  background: var(--primary-color);
  color: white;
  border: none;
}
.ax_left.preview .ax_options {
  transform: translateY(0%);
  transition-duration: 0.1s;
}
.ax_left.preview .heading,
.ax_left.preview .paragraph {
  opacity: 0;
}
.ax_product_image {
  min-height: 200px;
  background-color: whitesmoke;
  display: block;
  height: 36vh;
  object-fit: cover;
}
.ax_right {
  position: relative;
}
.ax_right section:not(.product-grid) {
  box-sizing: border-box;
  padding: 1.5rem;
  box-sizing: border-box;
  height: 90vh;
}
.ax_right .scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% + 15px);
  padding: 3rem 1.5rem 1.5rem !important;
  box-sizing: border-box;
}
.ax_right header {
  position: absolute;
  padding: 0.5rem 1.5rem;
  box-sizing: content-box;
  transform: translateY(-100%);
  background-color: white;
  border-bottom: solid 1px var(--border-color);
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  transition-delay: 0.5s;
}
.ax_right .rollout {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateX(0%);
  background: #e6e6ff;
  z-index: 4;
}
.ax_right .product-grid {
  width: 100%;
  display: grid;
  grid-gap: 10vh 0;
  height: auto;
  justify-items: center;
  align-items: flex-start;
  justify-content: space-around;
  border-color: green;
  grid-template-columns: repeat(auto-fill, minmax(250px, 40vh));
}
.ax_right .product-grid > figure {
  margin: 0;
  width: 250px;
  min-height: 45vh;
  box-sizing: border-box;
  cursor: pointer;
}
.ax_right .product-grid > figure:nth-child(2n) {
  transform: translateY(10vh);
}
.ax_right .product-grid > figure > div {
  opacity: 0;
  transform: translateY(50%);
  height: 100%;
  width: 100%;
}
.ax_right .product-grid > figure img {
  border: solid 1px var(--border-color);
  width: 100%;
  object-fit: cover;
}
.ax_right .product-grid > figure.slide-in > div {
  transform: translate(0, 0);
  opacity: 1;
}
.ax_right.preview .rollout {
  transform: translate(100%, 0);
}
.ax_right.preview header {
  transform: translate(0, 0);
}

.z-upper {
  height: 10vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: calc(100% - 10vmin);
  background-color: var(--primary-color);
  transition-duration: 0.4s;
}
.z-upper > div {
  display: flex;
  width: 100vw;
  height: 10vmin;
  position: relative;
  align-items: center;
}
.z-upper input {
  transition-delay: 0.3s;
  flex-grow: 0;
  margin: 0;
  height: 10vmin;
  border: none;
  font-size: 1rem;
  background: transparent;
  caret-color: white;
  color: white;
  font-family: var(--heading-font);
  padding: 0;
  opacity: 0;
  transform: translateX(10%);
  box-sizing: border-box;
  text-align: left;
  flex-basis: calc(50vw - 10vmin);
}
.z-upper input::placeholder {
  color: white;
  opacity: 1;
}
.z-upper.expand {
  right: 0;
}
.z-upper.expand input,
.z-upper.expand .close-button {
  opacity: 1;
  transform: translateX(0%);
}

.menu-button {
  width: 10vmin;
  height: 10vmin;
  background-color: var(--primary-color);
  align-self: stretch;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 3;
}
.menu-button::before {
  position: relative;
  display: block;
  content: "";
  width: 3.5vmin;
  border-radius: 50%;
  border: solid 2px white;
  height: 3.5vmin;
}
.menu-button + * {
  flex: 1;
  font-size: 1.5rem;
  color: #111;
  text-align: center;
}

.close-button {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  appearance: none;
  opacity: 0;
  background-color: transparent;
  border: solid 2px white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  text-align: center;
}
.close-button::after, .close-button::before {
  content: "";
  width: 2px;
  height: 2vmin;
  background-color: white;
  color: white;
  display: block;
  transform: translateX(-1px) rotate(45deg);
}
.close-button::before {
  transform: translateX(1px) rotate(-45deg);
}

.brand {
  display: flex;
  padding-left: 10vh;
}
.brand span {
  font-family: "PT Sans";
  font-size: 2rem;
}

.text-sm {
  font-size: 0.6rem;
}

.underlined {
  display: inline-block;
  border-bottom: solid 2px var(--primary-color);
}

/*# sourceMappingURL=product-gallery.css.map */
