$navbar-height: 10vh;

body {
  --primary-color: #100eaf;
  --darker: #111154;
  --border-color: #e8e8e8;

  margin: 0;
  overflow: hidden;
  font-family: Avenir;
  font-size: 14px;
}

.text-primary {
  color: var(--primary-color);
}

%transition-1 {
  transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
}

%transition-2 {
  transition: all 0.7s cubic-bezier(0.52, 0.63, 0.26, 1);
}

%outline {
  &,
  & > * {
    border: solid 1px red;
  }
}

%wireframe {
  > *:not(:last-child) {
    border-right: solid 1px var(--border-color);
  }
}

.ax_menu_area {
  @extend %transition-2;
  transition-duration: 0.4s;

  height: calc(100vh - 10vmin);
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0;
  width: 100vw;
  background-color: var(--darker);
  display: flex;

  > section {
    flex: 1;
    position: relative;
    padding: 4vmin 2vmin;
    
    &:first-child {
      flex-grow: 0;
      min-width: calc(100vw / 5);
    }

    &:last-child {
      padding: 0;
      flex-grow: 0;
      flex-basis: calc(100vw / 3);
      background-color: white;
    }
  }

  &.expand {
    pointer-events: all;
    opacity: 1;

    .fancy-menu, .shop-cat {
      @extend %menu-fade-show;
    }
  }
}

%menu-fade-hide {
  opacity: 0;
  transform: translateX(-5%);
}

%menu-fade-show {
  opacity: 1;
  transform: translateX(0%);
}

.ax_menu_area .slider {
  flex: 1;
  width: 100%;
  background-color: blue;

  .slide-item {
    @extend %transition-2;
    
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    will-change: all;
    z-index: 5;
    
    > .slide-content {
      width: calc(100vw / 3);
      display: flex;
      position: relative;
      flex: 1;
    }
    
    &.reveal {
      width: 100%;

      img  {
        transform: scale(1);
      }
    }

    img {
      @extend %transition-1;

      width: 100%;
      flex-grow: 1;
      object-fit: cover;
      transform: scale(1.2);
    }

    article {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: larger;
      box-sizing: border-box;
      padding: 5vmin;
      color: white;
      text-shadow: 0 0 2px rgba(black, .15);
    }

  }
}

.fancy-menu {
  @extend %menu-fade-hide;
  @extend %transition-2;
  transition-delay: .4s;

  li {
    display: flex;
    font-size: 2rem;
    padding: 1rem 0;
    color: rgba(255, 255, 255, 0.75);
    align-items: center;
    cursor: pointer;

    &:before {
      @extend %transition-1;

      display: block;
      content: "";
      width: 0;
      margin-right: 1rem;
      border-top: solid 1px white;
      position: relative;
    }

    &:hover {
      color: rgba(255, 255, 255, 1);
    }

    &.active {
      color: white;

      &::before {
        width: 50px;
      }
    }
  }
}

.shop-cat {
  @extend %menu-fade-hide;
  @extend %transition-1;
  transition-delay: .6s;

  color: white;
  font-size: 1rem;

  li {
    display: flex;
    line-height: 4;
  }
}

.heading {
  font-family: Didot;
  font-size: 2rem;
  opacity: 1;
}

.ax_ {
  &header {
    @extend %wireframe;

    display: grid;
    position: relative;
    z-index: 6;
    background-color: white;
    grid-template-rows: $navbar-height;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: solid 1px var(--border-color);

    > *:not(:first-child) {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }
  }

  &main {
    @extend %wireframe;

    height: 100vh - $navbar-height;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_container {
      // @extend %outline;
      @extend %transition-1;

      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;

      > * {
        @extend %transition-1;

        width: 60%;
        margin: 0;
        margin-bottom: 1rem;

        &:not(img) {
          transition-duration: 0.1s;
        }
      }

      .paragraph {
        font-size: 1.1rem;
        opacity: 0.7;
      }
    }

    .ax_options {
      @extend %transition-1;

      left: 0;
      bottom: 0;
      position: absolute;
      transform: translateY(100%);

      button {
        appearance: none;
        padding: 0.8rem 1.5rem;
        font-size: 0.8rem;
        letter-spacing: 0.102em;
        background: var(--primary-color);
        color: white;
        border: none;
      }
    }

    &.preview {
      .ax_options {
        transform: translateY(0%);
        transition-duration: 0.1s;
      }

      .heading,
      .paragraph {
        opacity: 0;
      }
    }
  }

  &product_image {
    @extend %transition-2;

    min-height: 200px;
    background-color: whitesmoke;
    display: block;
    height: (100vh - $navbar-height) * 0.4;
    object-fit: cover;
  }

  &right {
    position: relative;

    section:not(.product-grid) {
      box-sizing: border-box;
      padding: 1.5rem;
      box-sizing: border-box;
      height: 100vh - $navbar-height;
    }

    .scrollable {
      //   @extend %outline;

      overflow-y: scroll;
      overflow-x: hidden;
      width: calc(100% + 15px);
      padding: 3rem 1.5rem 1.5rem !important;
      box-sizing: border-box;
    }

    header {
      @extend %transition-1;

      position: absolute;
      padding: 0.5rem 1.5rem;
      box-sizing: content-box;
      transform: translateY(-100%);
      background-color: white;
      border-bottom: solid 1px var(--border-color);
      top: 0;
      right: 0;
      left: 0;
      z-index: 5;
      transition-delay: 0.5s;
    }

    .rollout {
      @extend %transition-1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
      transform: translateX(0%);
      background: lighten(blue, 45%);
      z-index: 4;
    }

    .product-grid {
      width: 100%;
      display: grid;
      grid-gap: 10vh 0;
      height: auto;
      justify-items: center;
      align-items: flex-start;
      justify-content: space-around;
      border-color: green;
      grid-template-columns: repeat(auto-fill, minmax(250px, 40vh));

      > figure {
        // @extend %outline;
        margin: 0;
        width: 250px;
        min-height: 45vh;
        box-sizing: border-box;
        cursor: pointer;

        &:nth-child(2n) {
          transform: translateY(10vh);
        }

        > div {
          @extend %transition-1;

          opacity: 0;
          transform: translateY(50%);
          height: 100%;
          // background-color: red;
          width: 100%;
        }

        img {
          border: solid 1px var(--border-color);
          width: 100%;
          object-fit: cover;
        }

        &.slide-in {
          > div {
            transform: translate(0, 0);
            opacity: 1;
          }
        }
      }
    }

    &.preview {
      .rollout {
        transform: translate(100%, 0);
      }

      header {
        transform: translate(0, 0);
      }
    }
  }
}

.z-upper {
  @extend %transition-2;

  height: 10vh;
  position: absolute;
  z-index: 2;
  // display: none;
  top: 0;
  left: 0;
  right: calc(100% - 10vmin);
  background-color: var(--primary-color);
  transition-duration: 0.4s;

  > div {
    display: flex;
    width: 100vw;
    height: 10vmin;
    position: relative;
    align-items: center;
  }

  input {
    @extend %transition-1;
    transition-delay: 0.3s;

    flex-grow: 0;
    margin: 0;
    height: 10vmin;
    border: none;
    font-size: 1rem;
    background: transparent;
    caret-color: white;
    color: white;
    font-family: var(--heading-font);
    padding: 0;
    opacity: 0;
    transform: translateX(10%);
    box-sizing: border-box;
    text-align: left;
    flex-basis: calc(50vw - 10vmin);

    &::placeholder {
      color: white;
      opacity: 1;
    }
  }

  &.expand {
    right: 0;

    input,
    .close-button {
      opacity: 1;
      transform: translateX(0%);
    }
  }
}

.menu-button {
  width: 10vmin;
  height: 10vmin;
  background-color: var(--primary-color);
  align-self: stretch;
  border: none;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  z-index: 3;

  &::before {
    position: relative;
    display: block;
    content: "";
    width: 3.5vmin;
    border-radius: 50%;
    border: solid 2px white;
    height: 3.5vmin;
  }

  + * {
    flex: 1;
    font-size: 1.5rem;
    color: #111;
    text-align: center;
  }
}

.close-button {
  width: 4vmin;
  height: 4vmin;
  border-radius: 50%;
  appearance: none;
  opacity: 0;
  background-color: transparent;
  border: solid 2px white;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1rem;
  text-align: center;

  &::after,
  &::before {
    content: "";
    width: 2px;
    height: 2vmin;
    background-color: white;
    color: white;
    display: block;
    transform: translateX(-1px) rotate(45deg);
  }

  &::before {
    transform: translateX(1px) rotate(-45deg);
  }
}

.brand {
  display: flex;
  padding-left: 10vh;

  span {
    font-family: "PT Sans";
    font-size: 2rem;
  }
}

.text-sm {
  font-size: 0.6rem;
}

.underlined {
  display: inline-block;
  border-bottom: solid 2px var(--primary-color);
}
